.nav-link {
    padding: 0.35rem;
}

p {
    margin-bottom: 0.25rem;
}

ul li a.active {
    box-shadow: 5px -3px 8px rgba(200,200,200,0.3);
}

a.nav-link {
    color: #000;
}

a.nav-link.active {
    color: var(--bs-primary) !important;
}

.shadow-box {
    box-shadow: 0px 0px 0.5rem rgba(180,180,180,0.6);
}

.shadow-box-sm {
    box-shadow: 0px 0px 5px rgba(180,180,180,0.5);
}

div.card-body div.row p {
    font-size: 12pt;
}